<p-card>
  <div class="field grid">
    <p-button [style]="{'background-color': '#FC7F03'}" label="Enregistrer" type="button" pRipple icon="pi pi-save" (click)="saveDetails()" class="ml-2"></p-button>
  </div> 
   
  <label class="col-15 mb-2 md:col-2 md:mb-0"></label>
  <div *ngIf="directoryDetails">     
    <div class="field grid">
      <label class="col-12 mb-2 md:col-2 md:mb-0">Mise en avant</label>
      <p-inputSwitch fromControlName="isprimary"></p-inputSwitch>
    </div>

    <div class="field grid">
      <label for="lastname" class="col-12 mb-2 md:col-2 md:mb-0">Nom</label>
      <div class="col-12 md:col-10">
        <input pInputText id="lastname" aria-describedby="lastname-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.name"/>
      </div>
    </div>

    <div class="field grid">
      <label for="firstname" class="col-12 mb-2 md:col-2 md:mb-0">Prénom</label>
      <div class="col-12 md:col-10">
        <input pInputText id="firsname" aria-describedby="firsname-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.firstname"/>
      </div>
    </div>

    <div class="field grid">
      <label for="priorite" class="col-12 mb-2 md:col-2 md:mb-0">Priorité d'affichage</label>
      <div class="col-12 md:col-10">
        <input pInputText id="priorite" aria-describedby="priorite-help"  [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.priority" />
      </div>
    </div>

    <div class="field grid">
      <label for="label" class="col-12 mb-2 md:col-2 md:mb-0">Label</label>
      <div class="col-12 md:col-10">
        <input pInputText id="label" aria-describedby="label-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.label" />
      </div>
    </div>
    
    <div class="field grid">
      <label for="tags" class="col-12 mb-2 md:col-2 md:mb-0">Tags</label>        
        <div class="col-12 md:col-10">
          <p-autoComplete  [dropdown]="true" [(ngModel)]="directoryDetails.tags" [suggestions]="suggestionTags" (completeMethod)="filterTags($event)" field="name" [multiple]="true"></p-autoComplete>
          </div>
    </div>  

    <div class="field grid">
      <label for="email" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
      <div class="col-12 md:col-10">
        <input pInputText id="email" aria-describedby="email-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.email" />
      </div>
    </div>

    <div class="field grid">
      <label for="address" class="col-12 mb-2 md:col-2 md:mb-0">Adresse</label>
      <div class="col-12 md:col-10">
        <input pInputText id="address" aria-describedby="label-help" [style]="{ 'margin-bottom': '.5em'}"  [(ngModel)]="directoryDetails.postaladdress" />
      </div>
    </div>
    
    <div class="field grid">
      <label for="postalcode" class="col-12 mb-2 md:col-2 md:mb-0">Code postal</label>
      <div class="col-12 md:col-10">
        <input pInputText id="zip" aria-describedby="zip-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.postalcode" />
      </div>
    </div>
    
    <div class="field grid">
      <label for="physicaladdress" class="col-12 mb-2 md:col-2 md:mb-0">Adresse Physique</label>
      <div class="col-12 md:col-10">
        <input pInputText id="physicaladdress" aria-describedby="physicaladdress-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.physicaladdress" />
      </div>
    </div>

    <div class="field grid">
      <label for="city" class="col-12 mb-2 md:col-2 md:mb-0">Ville</label>
      <div class="col-12 md:col-10">
        <input pInputText id="city" aria-describedby="city-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.city" />
      </div>
    </div>

    <div class="field grid">
      <label for="phone" class="col-12 mb-2 md:col-2 md:mb-0">Téléphone</label>
      <div class="col-12 md:col-10">
        <input pInputText id="phone" aria-describedby="phone-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.phone" />
      </div>
    </div>

    <div class="field grid">
      <label for="website" class="col-12 mb-2 md:col-2 md:mb-0">Site internet</label>
      <div class="col-12 md:col-10">
        <input pInputText id="website" aria-describedby="website-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.website" />
      </div>
    </div>

    <div class="field grid">
      <label for="description" class="col-12 mb-2 md:col-2 md:mb-0">Description</label>
      <div class="col-12 md:col-10">
        <p-editor pInputTextarea id="description" aria-describedby="description-help" [style]="{ 'margin-bottom': '.5em'}" [(ngModel)]="directoryDetails.description"></p-editor>
      </div>
    </div>
  </div>
</p-card>

  
  