<form [formGroup]="directoryFormGroup" *ngIf="directoryFormGroup">
  <p-card>
        <div class="field grid">
      <p-button [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03'}"  label="Enregistrer" type="button" pRipple icon="pi pi-save" (click)="save()" [disabled]="!directoryFormGroup.valid" class="ml-2"></p-button>
    </div> 
    <label class="col-15 mb-2 md:col-2 md:mb-0"></label>
    <div *ngIf="directoryAdd">     
      <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0">Mise en avant</label>
        <p-inputSwitch formControlName="isPrimary"></p-inputSwitch>
      </div>

      <div class="field grid">
        <label for="name" class="col-12 mb-2 md:col-2 md:mb-0">Nom</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name" aria-describedby="name-help" [style]="{ 'margin-bottom': '.5em'}" formControlName="name"/>
          <p-message *ngIf="directoryFormGroup.controls.name.errors && directoryFormGroup.controls.name.errors['required']" [style]="{'margin-left': '.5em'}" severity="error" text="Field is required"></p-message>
        </div>
      </div>

      <div class="field grid">
        <label for="firstname" class="col-12 mb-2 md:col-2 md:mb-0">Prénom</label>
        <div class="col-12 md:col-10">
          <input pInputText id="firstname" aria-describedby="firstname-help" [style]="{ 'margin-bottom': '.5em'}"formControlName="firstname" />
        </div>
      </div>

      <div class="field grid">
        <label for="displayPosition" class="col-12 mb-2 md:col-2 md:mb-0">Priorité d'affichage</label>
        <div class="col-12 md:col-10">
          <input pInputText id="displayPosition" aria-describedby="displayPosition-help"  [style]="{ 'margin-bottom': '.5em'}" formControlName="displayPosition" />
        </div>
      </div>

       <div class="field grid">
        <label for="latitude" class="col-12 mb-2 md:col-2 md:mb-0">latitude</label>
        <div class="col-12 md:col-10">
          <input pInputText id="latitude" aria-describedby="latitude-help" [style]="{ 'margin-bottom': '.5em'}" formControlName="latitude" />
          <label for="longitude" class="col-12 mb-2 md:col-2 md:mb-0">Longitude</label>
          <input pInputText id="longitude" aria-describedby="longitude-help" [style]="{ 'margin-bottom': '.5em'}" formControlName="longitude" />
        </div>
      </div>

      <div class="field grid">
        <label for="label" class="col-12 mb-2 md:col-2 md:mb-0">Label</label>
        <div class="col-12 md:col-10">
          <input pInputText id="label" aria-describedby="label-help" [style]="{ 'margin-bottom': '.5em'}" formControlName="label" />
        </div>
      </div>
      
      <div class="field grid">
        <label for="tags" class="col-12 mb-2 md:col-2 md:mb-0">Tags</label>        
          <div class="col-12 md:col-10">
            <p-autoComplete  [dropdown]="true" formControlName="tags" [suggestions]="suggestionTags" (completeMethod)="filterTags($event)" field="name" [multiple]="true"></p-autoComplete>
            </div>
      </div>  

      <div class="field grid">
        <label for="email" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
      </div>  

      <ng-container *ngFor="let email of directoryAdd.emails; index as i;">
        <div class="field grid">
          <div class="col-12 md:col-10">
            <input pInputText id="latitude" aria-describedby="latitude-help" [style]="{ 'margin-right': '.5em'}"  [[(ngModel)]="email.label" />
            <input pInputText id="longitude" aria-describedby="longitude-help" [[(ngModel)]="email.email" />
            <p-button [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03'}"  label="Supprimer" type="button" pRipple icon="pi pi-trash" (click)="removeEmail(i)" class="ml-2"></p-button>
          </div>
        </div>
      </ng-container>
      <div class="field grid">
        <p-button [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03'}"  label="Ajouter" type="button" pRipple icon="pi pi-plus" (click)="addEmail()" class="ml-2"></p-button>
      </div> 

      <div class="field grid">
        <label for="phone" class="col-12 mb-2 md:col-2 md:mb-0">Phone number</label>
      </div>  
      <ng-container *ngFor="let phonenumber of directoryAdd.phonenumbers; index as i;">
        <div class="field grid">
          <div class="col-12 md:col-10">
            <input pInputText id="label" aria-describedby="label-help" [style]="{ 'margin-right': '.5em'}"  [[(ngModel)]="phonenumber.label" />
            <input pInputText id="phone" aria-describedby="longitude-help" [[(ngModel)]="phonenumber.phone" />
            <p-button [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03'}"  label="Supprimer" type="button" pRipple icon="pi pi-trash" (click)="removePhoneNumber(i)" class="ml-2"></p-button>
          </div>
        </div>
      </ng-container>
      <div class="field grid">
        <p-button [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03'}"  label="Ajouter" type="button" pRipple icon="pi pi-plus" (click)="addPhoneNumber()" class="ml-2"></p-button>
      </div> 

      <div class="field grid">
        <label for="website" class="col-12 mb-2 md:col-2 md:mb-0">Site internet</label>
        <div class="col-12 md:col-10">
          <input pInputText id="website" aria-describedby="website-help" formControlName="website" />
        </div>
      </div>

      <div class="field grid">
        <label for="address" class="col-12 mb-2 md:col-2 md:mb-0">Adresse</label>
        <div class="col-12 md:col-10">
          <input pInputText id="address" aria-describedby="label-help" [style]="{ 'margin-bottom': '.5em'}" formControlName="physicaladdress" />
        </div>
      </div>

      <div class="field grid">
        <label for="city" class="col-12 mb-2 md:col-2 md:mb-0">Ville</label>
        <div class="col-12 md:col-10">
          <input pInputText id="city" aria-describedby="city-help" [style]="{ 'margin-bottom': '.5em'}" formControlName="city" />
        </div>
      </div>

      <div class="field grid">
        <label for="postcode" class="col-12 mb-2 md:col-2 md:mb-0">Code postal</label>
        <div class="col-12 md:col-10">
          <input pInputText id="postcode" aria-describedby="postcode-help" [style]="{ 'margin-bottom': '.5em'}" formControlName="postalcode" />
        </div>
      </div>

      <div class="field grid">
        <label for="postaladdress" class="col-12 mb-2 md:col-2 md:mb-0">Adresse postale</label>
        <div class="col-12 md:col-10">
          <input pInputText id="postaladdress" aria-describedby="postaladdress-help" [style]="{ 'margin-bottom': '.5em'}" formControlName="postaladdress" />
        </div>
      </div>

      <div class="field grid">
        <label for="description" class="col-12 mb-2 md:col-2 md:mb-0">Description</label>
        <div class="col-12 md:col-10">
          <p-editor  formControlName="description"  [style]="{ height: '200px' }"></p-editor>
        </div>
      </div>
    </div>
  </p-card>

  <p-card [style]="{'margin-top':'2em'}">
        <label class="col-15 mb-2 md:col-2 md:mb-0">Heures d'ouverture</label>
        <div *ngFor="let k of objectKeys(directoryAdd.schedule)"  style="padding: 15px"> 
                <div class="field grid">
                  <label class="col-12 md:col-10 mb-2 md:col-2 md:mb-0">{{ k }}</label>
                  <div  class="col-15 md:col-10" *ngFor="let slot of daysOfWeek[k]">
                    <p-calendar [style]="{'margin-right':'.5em'}" [[(ngModel)]="slot.start" [timeOnly]="true"></p-calendar>
                    <p-calendar [[(ngModel)]="slot.end" [timeOnly]="true" [style]="{'margin-right':'.5em'}"></p-calendar>
                    <p-inputSwitch [[(ngModel)]="slot.isAppointment"></p-inputSwitch>
                    <p-button [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03'}" label="Delete" type="button" pRipple icon="pi pi-check" (click)="removeDay(k)" class="ml-2"></p-button>
                  </div>
              </div>    
              <p-button [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03'}" label="Add {{k}}" type="button" pRipple icon="pi pi-plus" (click)="addDay(k)" class="ml-2"></p-button>   
        </div>
  </p-card>
</form> 
