<p-card *ngIf="token">
  <div class="grid">
        <div class="col-8">
            <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Upload</h1>
        </div>
        <div class="col">
          <label for="file-upload">
            <p-toast/>
            <p-button label="Ajouter" icon="pi pi-plus" [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03','margin-left': '.5em'}" status="primary" (click)="chooseFileBtn.click()"><i class="fas fa-cloud-upload-alt"></i><ng-container *ngIf="!small"></ng-container></p-button>
          </label>
        </div>
    </div>
      <div class="col">    
        <div style="margin-bottom: 40px" [hidden]="!file">
          <img *ngIf="file && !small" [src]="file" style="max-height: 150px; max-width: 150px;">
          <p-confirmPopup key="delete"/>
          <p-button label="Supprimer" icon="pi pi-trash" [style]="{'background-color': '#FC7F03','margin-left': '.5em'}"  status="primary" (click)="validate($event)" severity="danger"></p-button>
        </div>
       </div>
  <div class="col-sm-12" [hidden]="file != null">
    <ng-container #flowDirective="flow" [flowConfig]="{target: uploadUrl, maxChunkRetries: 3, permanentErrors:[415,501], generateUniqueIdentifier: generateUniqueIdentifierCustom, headers: {'Authorization': 'Bearer ' + token, 'X-Api-Version': '3'}, singleFile: true}"></ng-container>
    
    <input id="file-upload" class="flowbutton" type="file"
      #chooseFileBtn
      flowButton
      [flow]="flowDirective.flowJs"
      [flowAttributes]="flowAttributes">
    <div class="transfers">
      <div class="transfer"
            [ngClass]="{'transfer--error': transfer.error, 'transfer--success': transfer.success}"
            *ngFor="let transfer of (flowDirective.transfers$ | async).transfers;">
            <div class="name">name: {{transfer.name}}</div>
            <div *ngIf="transfer.complete == false && transfer.error == false">              
              <p-progressBar [value]="(transfer.progress * 100).toFixed()" status="success"/>
            </div>
            <div *ngIf="transfer.error != false">error: {{transfer.error}}</div>
      </div>
    </div>
  </div>  
</p-card>
