<p-card>
    <div class="p-fluid grid formgrid">
        <div class="field col-12">
            <label for="nom-commerce">Nom du commerce</label>
            <input id="nom-commerce" type="text" pInputText />
        </div>

      <div class="field col-12">
          <div class="grid">
              <div class="col-4">
                  <label>Logo</label>
              </div>
              <div class="col-8">
                  <p-button [style]="{'background-color':'#FC7F03', 'border-color':'#FC7F03'}" type="button" icon="pi pi-cloud-upload" label="AJOUTER" class="button-danger"></p-button>
              </div>
          </div>
      </div>
    </div>
</p-card>