<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <span>Test</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">        
        <button class="p-link layout-topbar-button" (click)="confirm($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
          </button>
          <p-confirmPopup>
            <ng-template pTemplate="headless" let-message let-test>
                <div class="border-round p-3">
                    <p>{{ username }}</p>
                    <p-button (click)="logout()">Déconnexion</p-button>
                </div>
            </ng-template>
        </p-confirmPopup>
    </div>
</div>