<div class="layout-topbar">
    <h2>PrimeNg</h2>
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">        
        <p-dropdown 
    [options]="cities" [(ngModel)]="selectedCity" placeholder="SELECT" />

    <div>
        <label class="col-12 mb-2 md:col-2 md:mb-0">FLUTTER</label>
        <p-inputSwitch></p-inputSwitch>
    </div>

        <button class="p-link layout-topbar-button" (click)="confirm($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
          </button>
          <p-confirmPopup>
            <ng-template pTemplate="headless" let-message let-test>
                <div class="border-round p-3">
                    <p>{{ username }}</p>
                    <p-button (click)="logout()">Déconnexion</p-button>
                </div>
            </ng-template>
        </p-confirmPopup>

       
    </div>
</div>